/* Đặt nền và kiểu chữ cơ bản cho toàn bộ biểu mẫu */
i.glyphicon {
    display: none;
  }
  .array-item-move-up ,.array-item-move-down {
    display: none;
  }
 
.rjsf {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
  }
  
  /* Kiểu cho nhãn */
  .rjsf label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Kiểu cho các trường đầu vào */
  .rjsf input[type="text"],
  .rjsf input[type="number"],
  .rjsf input[type="url"],
  .rjsf textarea {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Kiểu cho các nút */
  .rjsf button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  /* Kiểu cho nút thêm và xóa */
  .btn-add::after {
    content: 'Thêm';
  }
  .array-item-remove::after {
    content: 'Xóa';
  }
  .btn-add, .array-item-remove, .btn-info {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-add:hover, .array-item-remove:hover {
    background-color: #0056b3;
  }
  
  /* Kiểu cho các mục mảng */
  .field-array .array-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Đảm bảo .col-xs-9 nằm bên trái và .col-xs-3 nằm bên phải */
  .field-array .col-xs-9 {
    order: 1; /* Đặt thứ tự để phần tử này nằm trước */
    flex: 8; /* Chiếm 4/5 kích thước */
  }
  
  .field-array .col-xs-3 {
    order: 2; /* Đặt thứ tự để phần tử này nằm sau */
    flex: 1; /* Chiếm 1/5 kích thước */
  }
  .field-array .btn-group {
    margin-top: 12px;
  }
  .field-array .array-item-add {
    margin-top: 12px;
  }
  
  /* Kiểu cho tiêu đề biểu mẫu */
  form h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Kiểu cho các mục phần tử */
  .form-element {
    margin-bottom: 20px;
  }
  