



.item-list {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
margin: 10px;
  cursor: pointer;
  font-size: 18px;


}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
